h1{
    color:rgb(82, 180, 167);
    font-family: 'Titillium Web', sans-serif;
}

h2{
    color:rgb(82, 180, 167);
    font-family: 'Titillium Web', sans-serif;
}

footer{
    color:rgb(82, 180, 167);
    font-family: 'Titillium Web', sans-serif;
}